.logo-container {
	height:150px;
	/*background-color: #53c1de;*/
	border-bottom: 2px solid white;
	background-image: url("../images/grain.png");
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
}

.logo {
	/*background-color: #f2f0c9;*/
	background-image: url("../images/grain.png");
	width:300px;
	height:300px;
	border: 2px solid white;
    position: absolute;
	top: -150px;
	left: 50%;
	-webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
	margin-left: -150px;
	box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
}

.logo-container  img {
	position: absolute;
    left: 50%;
    width: 102px;
    display: block;
    padding-top: 10px;
    margin-left: -49px;
}

.content {
	height:900px;
	background-color: #e9e9e9;
	z-index: -10;
}

.footer {
	background-color: #f2f0c9;
	height:300px;
}

@media (min-width: 1200px) { 

}


@media (max-width: 768px) { 

}

@media (max-width:  576px) {

}
